# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\googleDowload\training-master\training-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
